#main{
  background-color: rgba(144, 232, 55, 0.4);
  width: 30%;
  margin: auto;
  border-radius: 16px;
  height: 400px;
  padding:20px;
}

#container{ 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#city{
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.543);
  font-family: sans-serif;
  font-size: 11pt;
  padding:0px 4px;
}